<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= form_tag draw_path,:class =>'form-inline ', method: :get do %>
    			<%= select_tag :place, "<option>臺北</option><option>新北</option><option>基隆</option><option>桃園</option><option>新竹</option><option>台中</option><option>苗栗</option><option>嘉義</option><option>彰化</option><option>臺南</option><option>高雄</option><option>屏東</option><option>台東</option><option>花蓮</option><option>宜蘭</option><option>澎湖</option>".html_safe,:class =>'form-control' %>
    			<%= number_field_tag :rate, params[:rate],:class =>'form-control',in: 0.0..10.0, step: 0.1,placeholder: "最低分數" %>
    			<%= select_tag :foodtype, "<option>中式</option><option>西式</option><option>宵夜</option><option>燒烤</option><option>早餐</option>".html_safe,:class =>'form-control' %>
    			<%= submit_tag "抽",:class => 'btn btn-primary' ,name: nil %>
			<% end %>
		</div>
	</div>
</div>
<% if @store %>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="thumbnail">
					<%= link_to image_tag(@store.image.url(:medium)), @store %>
					<div class="caption">
			 			<h1 class="text-center"><%= link_to @store.name,@store %></h1>
			 			<% if @store.custom_rates.count != 0 %>
				 			<% if @store.rate <= 3 %>
				 				<p class="label label-success">分數: <%= @store.rate %></p>
				 			<% elsif @store.rate > 3 && @store.rate <=7 %> 
				 				<p class="label label-warning">分數: <%= @store.rate %></p>
							<% else %> 
				 				<p class="label label-danger">分數: <%= @store.rate %></p>
				 			<% end %>
				 		<% else %>
				 			<p class="label label-default">尚無評分</p>
				 		<% end %>
				 		<p class="label label-info"><%= @store.place %></p>
	 					<p class="label label-primary"><%= @store.view_count %> 瀏覽</p>
	 					<p class="label label-info"><%= @store.comments.count %>留言</p>
			 		</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
